---
layout: null
title: Home
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
priority: 1.0
lastmod: 2019-02-09
changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<a href="https://onfinance.in/" target="_blank">
						<img src="{{ "/images/mainlogo_transparent.png" | absolute_url }}" style="max-width:200px;" alt="" />
						</a>
						<h1 style="text-transform: none;" >OnFinance</h1>
						<h2>Making finance fun and rewarding</h2>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">OnFinance</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
			            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>There Is Gold Everywhere</h2>
									<p>Most People Are Not Trained To See It</p>
								</header>
								
								<p>
									My idea of the gold in the financial world refers to specific investment ideas.These ideas require a certain touch of genius and would set you apart from the average investor. The great examples from The Wall Street in New York and from Dalal Street in Bombay are a byproduct of the financial edge they have over others.
								</p>

								<div><strong><em>“But what is this edge that I can't see?” you may ask…</em></strong></div>
								<div><strong><em>To which I would say…</em></strong></div>
								<div><strong><em>“There Is Gold Everywhere</em></strong></div>
								<p style="text-align: center;"><strong><em>Most People Are Not Trained To See It“.</em></strong></p>

								<p>
									My answer is the infamous quote by Robert Kiyosaki from his book Rich Dad Poor Dad. The power of the edge that I talk about can now be harnessed easily in the information era. We at <strong>OnFinance</strong> are one-of-a-kind in India who provide you access to our <strong>state of the art technology that brings you at par with the Riches of Wall Street.</strong>
								</p>

								<h2>Knowing The Edge</h2>

								<ul>
									<li>
										<p style="font-size: 22px;font-weight: 550;">Be flexible in investing</p>
										<p>Be open to ideas , and learn about what’s new… be it cryptos, NFTs, metaverse or what not.</p>
										<div style="text-align: left;">To give you a perspective most people who follow old age investors believe that digital assets like Bitcoin should not have value, but the truth is that Bitcoin and other crypto assets have been the source of greatest wealth creation in the 21st century with a CAGR (Compounded Annual Growth Rate) of 200%.</div>
										<div style="text-align: left;"><strong>OnFinance</strong> allows you to have insights of 40+ event groups and 200+ news sources using personalisation through our AI and NLP models so that you don't miss out on the opportunities that are best for you.</div>
									</li>
									<li>
										<p style="font-size: 22px;font-weight: 550;">Know the risk</p>
										<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg1.png" alt=""></div>
										<div style="text-align: left;">In finance, risk refers to <strong>the degree of uncertainty and/or potential financial loss inherent in an investment decision.</strong></div>
									</li>
								</ul>
								<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg2.png" alt=""></div>

								<p> But you may ask,</p>
								
								<div><strong><em>“Siddhant, if there is a chance of loss, why take the risk?”</em></strong></div>
								<p style="text-align: center;"><strong><em>“Isn’t our money safe in the bank?”</em></strong></p>
								<div style="text-align: left;">Here comes the <strong>inflation</strong> at play, let's take example of a packet of biscuit, If a packet of biscuits cost ₹5 in 2012, at 6% (indian average for last 10 years), the price of packet biscuit will be around ₹10 in 2022, which means the value of biscuit went up or <strong>the value of your money went down.</strong></div>
								<div style="text-align: left;">Hence in order to generate wealth and increase your purchasing power in future, investing is a necessity in modern times.</div>
								<p>OnFinance not only filters out the best stocks based on news and ratings, it also measures the riskiness and market sentiments for you… and we not only do it for stocks but also for cryptocurrencies like Bitcoin, Ethereum, etc and also for NFTs.</p>

								<ul>
									<li>
										<p style="font-size: 22px;font-weight: 550;">Be an Investor not a Speculator</p>
										<p>To determine the difference between the two I would continue with my point of Risk. The main difference between speculating and investing is <strong>the amount of risk involved.</strong> Investors try to generate a satisfactory return on their capital by taking on an average or below-average amount of risk. Speculators are seeking to make abnormally high returns from bets that can go one way or the other.</p>
										<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg3.png" alt=""></div>
										<p>While above is a textbook definition, in simpler terms, investing is about taking aninformed decision… calculated risk so to say… while speculation is gambling.</p>
										<div style="text-align: left;">Speculating on penny stocks and meme crypto coins might seem a quick way to get rich but it has been proven in due course of history to be the best way to destroy wealth over the course of time. The cases of stocks like Yes Bank and Cryptos Like Squid are a few of the recent examples.</div>
										<p>Let's look at the case of Squid first. The cryptocurrency got hyped and the prices soared many folds in a matter of days when the Netflix series Squid Games got popular, and soon many small investors tried to hop in because of FOMO (Fear Of Missing Out) on a potential “Get Rich Quick Scheme” but ended up losing all their money in a matter of seconds when Squid coin went to 0 almost instantaneously</p>
										<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg4.png" alt=""></div>
										<p>While the case of Yes Bank is a little more interesting, while the Bank continued to keep on failing to generate profits and control NPAs (Non Performing Assets), the uninformed investors continued to buy the stock thinking “ it went down from 400 to 200, how much lower can it go?”; and then “ it went from 200 to 115 how much lower can it go?” until it went below ₹10 where it has been resting for a while. This does not mean that Yes Bank as a business may never regain its legacy, but the point is “Money is made where there is change”, hence the investors should go in on the stock once they see signs of positive changes in the company rather than chasing the stock just because the price went down.</p>
										<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg5.png" alt=""></div>
									</li>
									<li>
										<p style="font-size: 22px;font-weight: 550;">Know what you own</p>
										<p>To know what you own can be interpreted in many different ways but the focus of an investor should be on Value. As Warren Buffett, the Oracle of Omaha said :</p>
										<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg6.png" alt=""></div>
										<p>As a value investor, you must focus on buying <strong>Growth at a Reasonable Price.</strong> The statement sticks just to stocks until we figure out the intrinsic value of digital assets. To figure out the intrinsic value of stocks you can either take out time from your busy schedule or you could <strong>use AI and NLP technology by OnFinance</strong> to do the job for you. OnFinance uses AI and NLP based models to figure the impact of news related to stocks on the stock price, while this is one of our primary features, there's much more of us for you. </p>
									</li>
								</ul>
								<p style="text-align:center ;font-size: 20px;">The Last and Most Important Point is</p>
								<h2>Don't Be Average</h2>
								<div><strong><em>“Stock Markets are a place to make 12-18% returns per year”, says every average</em></strong></div>
								<div><strong><em>investor ever. At the rate of 12% a year, an average investor doubles their money every 6</em></strong></div>
								<p style="text-align:center"><strong><em>years , sounds pretty average, doesn't it?</em></strong></p>
								<p style="text-align:center;font-size: 18px"><strong>“But Siddhant, is there a way not to be average?”</strong></p>

								<p style="text-align:center">Yes in fact there is a class of investors in the markets who are true believers of the famous saying “Greed Is Good”. The ones who have figured out ways to make 40-50% return every year, a pace at which you will double your money every 2-3 years. The Gold Everywhere and yet most people can't see it. Sounds too good to be true? Let's take a deeper dive</p>
								<p style="text-align:center">Most of the investors invest in blue chip stocks, these stocks are major constituents of the indices like Nifty, Sensex, etc. While the consistency of these blue chips is already proven, their growth stays mostly in line with the nominal GDP (real+ inflation) growth rate in the long run hence yielding the average returns</p>
								<p style="text-align:center">The magic happens in the small and mid sized companies in the markets , the ones which have potential to be large sized companies in future. Almost everyone knows about the classic names like HDFC Bank or Infosys now but the real returns were made by the early spotters of these names, people who invested in these companies while they were small sized and made multi bagger returns. The magic just doesn’t stop at stocks, it also yielded excellent returns for those who have been early investors in Bitcoin, Metaverse and NFTs too. </p>
								<p style="text-align:center">Intriguing isn't it? Wanna know about how to find these potential multibaggers? Whatqualities to look for? What data to analyze? I got it all…(More on this in the next blog)</p>
								<p style="text-align:center">Now finally lets have a look at the results of our discussion. Let's say you’re a person who has followed all the points I mentioned above since 2010. How would your journey have panned out?</p>
								<p style="text-align:center">You would've been vigilant enough to find out about bitcoin in a super early stage. You would've been insightful enough to be able to risk manage the digital assets in your portfolio instead of shying away from them.</p>

								<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg7.png" alt=""></div>
								<p style="text-align:center">Along with this you would have been aware about the best space to invest instead of speculate in stock markets, i.e. small and midcap space, while being aware of the risks associated with it to make great returns along with avoiding speculating in penny stocks and a few overhyped and meme based crypto currencies. Hence preserving your hard earned wealth.</p>

								<div><img style="max-width: 60vw;" src="https://onfinance.in/blog/images/featImg8.png" alt=""></div>
								<p style="text-align:center">While this blog has come to its end, your journey of wealth creation has just started</p>
								<div>We at OnFinance are with you in your journey of wealth creation, making it more insightful and proficient </div>
								<p style="text-align:center">with our Artificial Intelligence based analysis to help you in every step of the way…</p>

								<div style="font-size: 18px"><strong><em>For all your days be prepared, and meet them ever alike.</em></strong></div>
								<p style="text-align:center;font-size: 18px"><strong><em>When you are the anvil, bear - when you are the hammer, strike</em></strong></p>
							</article>
							<!-- Posts -->
							<!-- <section class="posts">
				            	{% for post in site.posts limit:4 %}
				                {% assign mod3 = forloop.index | modulo: 4 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.summary }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
				                  {% if mod4 == 3 %}
									<article>
	  									<header>
	  										<h2><a href="#">More Content Coming</a></h2>
	  									</header>
	  								</article>
				                  {% endif %}
				                {% endfor %}
							</section> -->
					</div>
			</div>
			<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}		
	</body>
</html>